/* Section background images with a 50% opacity black filter */
#section-1{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/laptop_graph_paper.jpg");
}

/* sizing and filter for the hour of code images */
div img{
  width: 100%;
  max-width: 50vw;
  filter: grayscale(100%);
  transition: filter 2s cubic-bezier(0.55, 0, 1, 0.45);
}

/* applies the transition on hover */
img:hover{
  filter: grayscale(0);
}
