.anchor::before {
  display: block;
  content: " ";
  margin-top: -56px;
  height: 56px;
  visibility: hidden;
  pointer-events: none;
}

#sidebar{
  position: fixed;
}

#section-1{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/mac_iphone.jpg");
}
