/* Sets the height of the html and body elements to the full window */
html, body{
  height: 100%;
  color: white;
}

code{
  color: white;
}

.background{
  position: relative;
  background-attachment: fixed;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(100,100,100);
  background-image: linear-gradient(rgba05,0,0,0.5),rgba(0, 0, 0, 0.5));
}

h1, h2, .btn{
  text-align: center;
}

/* applies to md screens and larger */
@media only screen and (min-width: 769px){
  p, .p-sized{
    font-size: 2vw;
  }
}

/* applies to xs screens */
@media only screen and (max-width:575px){
  p, .p-sized{
    font-size: 3vw;
  }

  h1{
    font-size: 8vw;
  }
}

/* applies to sm screens */
@media only screen and (min-width:576px) and (max-width:768px){
  p, .p-sized{
    font-size: 2.5vw;
  }
}

/* applies to sm screens and larger */
@media only screen and (min-width:576px){
  h1{
    font-size: 4vw;
  }
}
